In [2]:
import duckdb
import pandas as pd

%load_ext sql
conn = duckdb.connect()
%sql conn --alias duckdb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "/Users/andrevarilla/Git Repos/loreal_datathon/.venv/lib/python3.11/site-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/andrevarilla/Git Repos/loreal_datathon/.venv/lib/python3.11/site-packages/sql/connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [3]:
conn.sql('SHOW ALL TABLES')

┌──────────┬─────────┬─────────┬──────────────┬──────────────┬───────────┐
│ database │ schema  │  name   │ column_names │ column_types │ temporary │
│ varchar  │ varchar │ varchar │  varchar[]   │  varchar[]   │  boolean  │
├──────────┴─────────┴─────────┴──────────────┴──────────────┴───────────┤
│                                 0 rows                                 │
└────────────────────────────────────────────────────────────────────────┘

In [24]:
# conn.sql('create table comments as (kind,commentId,channelId, videoId, authorId, textOriginal, parentCommentId, likeCount, publishedAt, updatedAt) '
#          '(Select * from "data/comments1.csv" )')

conn.sql('create table comments as (Select * from "dataset/comments1.csv" union Select * from "dataset/comments2.csv" union SELECT * from "dataset/comments3.csv" union select * from "dataset/comments4.csv" union select * from "dataset/comments5.csv")')

In [19]:
conn.sql('select * from comments limit 100').df()

,kind,commentId,channelId,videoId,authorId,textOriginal,parentCommentId,likeCount,publishedAt,updatedAt
0,youtube#comment,1781382,14492,74288,2032536,PLEASE LESBIAN FLAG I BEG YOU \n\nYou would ro...,<NA>,0,2023-08-16 05:48:52+08:00,2023-08-16 05:48:52+08:00
1,youtube#comment,289571,14727,79618,3043229,Apply mashed potato juice and mixed it with curd,3198066,0,2023-10-02 21:08:22+08:00,2023-10-02 21:08:22+08:00
2,youtube#comment,569077,3314,51826,917006,69 missed calls from mars👽,<NA>,0,2024-05-31 20:03:12+08:00,2024-05-31 20:03:12+08:00
3,youtube#comment,2957962,5008,58298,1853470,Baaa,<NA>,0,2024-02-13 23:48:37+08:00,2024-02-13 23:48:37+08:00
4,youtube#comment,673093,21411,1265,2584166,you look like raven from phenomena raven no cap,<NA>,0,2020-02-16 06:28:44+08:00,2020-02-16 06:28:44+08:00
...,...,...,...,...,...,...,...,...,...,...
95,youtube#comment,2676971,526,28987,1158401,ماشاءاللہ ماشاءاللہ,<NA>,0,2023-11-16 23:41:52+08:00,2023-11-16 23:41:52+08:00
96,youtube#comment,2602044,33332,22024,987148,हद्द है....1 female ही दूसरी female में कमियां...,<NA>,0,2021-02-27 19:51:00+08:00,2021-02-27 19:51:00+08:00
97,youtube#comment,14651,36275,42401,1969305,😍😍,3951378,0,2020-07-30 22:44:48+08:00,2020-07-30 22:44:48+08:00
98,youtube#comment,3314781,14927,16266,275363,"Truly a super lady. How composed, confident, i...",<NA>,11,2023-03-04 05:34:56+08:00,2023-03-04 05:34:56+08:00
99,youtube#comment,3906295,11003,28238,817432,The Short hair looks good on you,<NA>,0,2024-03-06 06:22:17+08:00,2024-03-06 06:22:17+08:00

In [23]:
conn.sql('drop table comments')

In [25]:
conn.sql('describe comments').df()

       column_name               column_type null   key default extra
0             kind                   VARCHAR  YES  None    None  None
1        commentId                    BIGINT  YES  None    None  None
2        channelId                    BIGINT  YES  None    None  None
3          videoId                    BIGINT  YES  None    None  None
4         authorId                    BIGINT  YES  None    None  None
5     textOriginal                   VARCHAR  YES  None    None  None
6  parentCommentId                    BIGINT  YES  None    None  None
7        likeCount                    BIGINT  YES  None    None  None
8      publishedAt  TIMESTAMP WITH TIME ZONE  YES  None    None  None
9        updatedAt  TIMESTAMP WITH TIME ZONE  YES  None    None  None

In [26]:
conn.sql('select count(*) from comments').df()

   count_star()
0       4725012

In [31]:
conn.sql("select * from comments where videoId='1265'").df()

,kind,commentId,channelId,videoId,authorId,textOriginal,parentCommentId,likeCount,publishedAt,updatedAt
0,youtube#comment,2985572,21411,1265,2006396,riSe aNd sHiNee,<NA>,0,2020-01-26 14:39:10+08:00,2020-01-26 14:39:10+08:00
1,youtube#comment,3599097,21411,1265,3280927,Makeup? Snatched.\nEyeliner? Stunning.\nVibrat...,<NA>,1,2021-11-10 11:11:47+08:00,2021-11-10 11:11:47+08:00
2,youtube#comment,4405772,21411,1265,2767216,you look like one of those rich girls in movie...,<NA>,0,2020-05-22 04:46:25+08:00,2020-05-22 04:46:25+08:00
3,youtube#comment,1528283,21411,1265,678600,Girl u rocking dat wig,<NA>,1,2020-09-18 00:49:27+08:00,2020-09-18 00:49:27+08:00
4,youtube#comment,3050358,21411,1265,1553190,"Girl, you are a tripp! I love your videos. Kee...",<NA>,0,2020-01-25 00:25:10+08:00,2020-01-25 00:25:10+08:00
...,...,...,...,...,...,...,...,...,...,...
17084,youtube#comment,3133929,21411,1265,1873508,You give me Liza Koshy vibes,<NA>,1,2020-09-16 03:13:03+08:00,2020-09-16 03:13:03+08:00
17085,youtube#comment,2306990,21411,1265,840252,I might try the eyebrow highlighter,<NA>,0,2020-02-20 13:57:56+08:00,2020-02-20 13:57:56+08:00
17086,youtube#comment,1042482,21411,1265,2359513,“Smells just like my grandmas perfume” LOL,<NA>,1,2020-10-10 08:48:02+08:00,2020-10-10 08:48:02+08:00
17087,youtube#comment,984490,21411,1265,75145,This is SO funny! 😂😂😂 Miss Darcei got me rolli...,<NA>,0,2020-06-30 23:16:39+08:00,2020-06-30 23:16:55+08:00
17088,youtube#comment,11008,21411,1265,1689048,Yess,1422009,0,2020-06-16 14:42:11+08:00,2020-06-16 14:42:11+08:00

In [32]:
conn.sql('select * from comments').df()

,kind,commentId,channelId,videoId,authorId,textOriginal,parentCommentId,likeCount,publishedAt,updatedAt
0,youtube#comment,4409963,46658,80234,352721,O.m.gawd,<NA>,0,2021-11-08 23:51:06+08:00,2021-11-08 23:51:06+08:00
1,youtube#comment,2259662,6131,72983,2311738,OMG! I need this video 🥺,<NA>,1,2023-11-30 23:10:39+08:00,2023-11-30 23:10:39+08:00
2,youtube#comment,2664229,29048,66607,2193375,Her voice 🤍,<NA>,0,2023-04-30 22:34:42+08:00,2023-04-30 22:34:42+08:00
3,youtube#comment,3631095,27065,47579,1966757,Next time aarpaarpari vs gaalpari makup,<NA>,1,2024-09-01 15:13:57+08:00,2024-09-01 15:13:57+08:00
4,youtube#comment,3704450,12084,61292,2780965,Please one vdo for pigmentation makeup plssssss,<NA>,0,2023-10-27 22:29:35+08:00,2023-10-27 22:29:35+08:00
...,...,...,...,...,...,...,...,...,...,...
4725007,youtube#comment,1636910,47768,8662,1120161,👍✨OK 👌,<NA>,0,2024-09-30 02:26:57+08:00,2024-09-30 02:26:57+08:00
4725008,youtube#comment,4718776,48953,29310,512012,Can u do Mexico plss🥺,<NA>,0,2023-10-31 07:18:09+08:00,2023-10-31 07:18:09+08:00
4725009,youtube#comment,1068989,8177,43915,120259,Beautiful and also cute I love it,<NA>,0,2024-05-05 19:32:39+08:00,2024-05-05 19:32:39+08:00
4725010,youtube#comment,985234,23924,92599,3546267,How many lancome products do you want to use?\...,<NA>,0,2020-10-21 17:48:53+08:00,2020-10-21 17:49:10+08:00
4725011,youtube#comment,4368506,33445,91263,2376366,try parting your hair when it’s wet 🫶🏻,<NA>,0,2024-05-22 18:15:57+08:00,2024-05-22 18:15:57+08:00